@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url('cloudy.jpg') center;
    background-size: cover;
    background-position: center;
}



.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px 0px 0px 0px;
    
    color: #313131;
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s ease-out;
}
/* .value{
    display:
} */

header input:focus{
    background-color: rgba(255,255,255,0.6);
}

main{
    flex: 1 1 100%;
    margin: 25px 25px 50px;
    padding: 25px 25px 50px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.041);
    overflow: hidden;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
}

.location .city{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px
}

.location .date{
    color: white;
    font-size: 1rem;
}

.current .temp{
    
    color: white;
    font-size: 6rem;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 8px 10px rgba(0,0,0,0.6);

}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px 8px rgba(0,0,0,0.4);
}

.current .hi-low{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.links{
    /* position: absolute; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.link{
    width: 2rem;
    margin: 20px;
}